
.menu-btn{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	border-radius: 3px;
	cursor: pointer;
/*	transition: all 0.5s ease-in-out;*/
	border: 3px solid #fff;
}

.menu-btn__burger{
	width: 25px;
	height: 3px;
	background: #333;
	border-radius: 2.5px;
	box-shadow: 0 2px 5px rgba(225,101,47,0.2);
	transition: all 0.5s ease-in-out;
}
.menu-btn__burger::before,
.menu-btn__burger::after{
	content: '';
	position: absolute;
	width: 25px;
	height: 3px;
	background: #333;
	border-radius: 3px;
	box-shadow: 0 2px 5px rgba(25,101,47,0.2);
	transition: all 0.3s ease-in-out;
}
.menu-btn__burger::before{
	transform: translateY(-8px);
}  

.menu-btn__burger::after{
	transform: translateY(8px);
}  

/* Anination for the button */
.menu-btn.open .menu-btn__burger{
	transform: translateX(50px);
	background: transparent;
/*	display: none;*/
	box-shadow: none;
}
.menu-btn.open .menu-btn__burger::before{
	transform: rotate(45deg) translate(-35px, 35px);
}

.menu-btn.open .menu-btn__burger::after{
	transform: rotate(-45deg) translate(-35px, -35px);
}


/*.menu-btn.open .menu-btn__burger::before{
	transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .menu-btn__burger::after{
	transform: rotate(-45deg) translate(35px, 35px);
}*/



/*.myclass{
	background: red;
	height: 30px;
	width: 200px;
	border-radius: 7px;
	margin: 10px;

}
*/
/*.myclass::after{
	background: blue;
	height: 30px;
	width: 200px;
	border-radius: 7px;
	margin: 10px;
}*/
/*.myclass::after{
    content: '';
    position: absolute;
    left: 1;
    transition: translateY(-40px);
     transform: translateY(-90px);
    right: 1;
    width: 30%;
    height: 13px;
    background: green;
    animation: anim 10s linear forwards;
}*/
/*.myclass::after{
	transition: translateY(40px);
	bottom: 0;
	background: red;
}
*/
/*.myclass::before{
	content: '';
	position: absolute;
	transition: translateY(-35px);
	background: blue;
}*/