*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Segoe UI";
}
aside{
    position: fixed;
    top: 0;
    left: 0;
/*    left: -50px;*/
    width: 50px;
    height: 1000px;
    padding: 10px;
    background: #171f36;
    color: white;
    transition: 0.5s;
}
a{
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
}
.logo{
    height: 50px;
    margin: 0 0 50px 0;
    position: relative;
}
.menu-icon{
    position: absolute;
    right: -50px;
    top: 0;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    font-size: 20px;
    padding: 1px;
    background: royalblue;
    text-align: center;
    cursor: pointer;
}
.bx-x{
    display: none;
}
.logo a{
    height: 100%;
}
.logo a img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
.logo a span{
    width: 0px;
    overflow: hidden;
    font-size: 20px;
    font-weight: bold;
    margin: 0 0 0 20px;
    transition: 0.5s;
}
.side-menu li{
    list-style: none;
    overflow: hidden;
    border-radius: 10px;
    padding: 5px;
    margin: 20px auto;
    text-transform: capitalize;
    transition: 0.5s;
}
li a{
    position: relative;
    height: 30px;
}
li a i{
    margin-right: 20px;
    font-size: 20px;
    width: 25px;
    text-align: center;
}
li a span{
    width: 0px;
    overflow: hidden;
    height: 25px;
    transition: 0.5s;
}
.bxs-chevron-right{
    position: absolute;
    right: 0;
    width: 0;
    transition: 0.5s;
    overflow: hidden;
}
.sub-menu{
    width: 80%;
    margin: 0 0 0 25px;
    overflow: hidden;
    transition: 0.5s;
}
.sub-menu li{
    height: 25px;
    padding: 5px 10px;
    margin: 4px auto;
    font-size: 15px;
    font-weight: 200;
}
.sub-menu li a {
    position: initial;
    height: 100%;
    display: initial;
}
ul.log{
    margin: 50px 0 0 0;
}
section{
    width: calc(100% - 400px);
    margin: 50px 70px;
    transition: 0.5s;
}
aside.expand{
    width: 250px;
    left: 0;
}
aside.expand ~ section{
    margin: 50px 300px;
}
aside.expand  .menu-icon>.bx-x{
    display: initial;
}
aside.expand .menu-icon>.bx-menu{
    display: none;
}
aside.expand .logo a span{
    width: 150px;
}
aside.expand li a span{
    width: 105px;
}
aside.expand .bxs-chevron-right{
    width: 25px;
}
li.active{
     background: royalblue;
}
li.active .sub-menu{
    max-height: 300px;
}
li.active a>.bxs-chevron-right{
    transform: rotate(90deg);   
}
 